<div class="cart">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <p class="text-muted lead">You currently have {{ cartsize }} item(s) in your cart.</p>
            </div>

            <div class="col-md-9 clearfix" id="basket">

                <div class="box">

                    <form ng-submit="submitForm()">
                        
                        <div class="box-header"><h3>Renting</h3></div>
                        
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th colspan="2">Product</th>
                                    <th>Quantity</th>
                                    <th>Rent Price</th>
                                    <th>Rent Days</th>
                                    <th colspan="2">Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="product in productsToRent">
                                    <td>
                                        <a ui-sref="product({ id: product.pid })">
                                            <img ng-src="uploads/{{product.image}}" alt="{{product.name}}">
                                        </a>
                                    </td>
                                    <td><a ui-sref="product({ id: product.pid })">{{product.name}}</a>
                                    </td>
                                    <td>
                                        <input type="number" ng-model="product.quantity" ng-change="updatePrices()" class="form-control" min="0" max="{{product.maxQuantity}}">
                                    </td>
                                    <td>{{product.rentalpricepd | currency}}</td>
                                    <td>
                                        <input type="number" ng-model="product.rentdays" ng-change="updatePrices()" class="form-control" min={{product.minrentdays}} max={{product.maxrentdays}}>
                                    </td>
                                    <td>{{product.rentalpricepd * product.quantity * product.rentdays | currency}}</td>
                                    <td><a href="#here" ng-click="removeProductFromRent(product.pid)"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                </tr>

                                </tbody>
                                <tfoot>
                                <tr>
                                    <th colspan="5">Total</th>
                                    <th colspan="2">{{rentTotal | currency}}</th>
                                </tr>
                                </tfoot>
                            </table>

                        </div>
                        <!-- /.table-responsive -->
                        <div class="box-footer">
                            <div class="pull-left">
                                <a ng-click="back()" class="btn btn-default"><i class="fa fa-chevron-left"></i>
                                    Continue shopping</a>
                            </div>
                            <div class="pull-right">
                                <button type="submit" class="btn btn-template-main" ng-disabled="total <= 0">Proceed to checkout <i
                                        class="fa fa-chevron-right"></i>
                                </button>
                            </div>
                        </div>

                    </form>

                </div>
                <!-- /.box -->


            </div>

            <div class="col-md-3">
                <div class="box" id="order-summary">
                    <div class="box-header">
                        <h3>Order summary</h3>
                    </div>
                    <p class="text-muted">Shipping and additional costs are calculated based on the values you have entered.</p>

                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>Order subtotal</td>
                                <th>{{rentTotal | currency}}</th>
                            </tr>
                            <tr>
                                <td>Shipping and handling</td>
                                <th>{{shipping | currency}}</th>
                            </tr>
                            <tr>
                                <td>Tax <i>(inclusive)</i></td>
                                <th>{{tax | currency}}</th>
                            </tr>
                            <tr class="total">
                                <td>Total</td>
                                <th>{{total | currency}}</th>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <!-- /.col-md-3 -->

        </div>

    </div>


</div>