<div class="home">
    <div class="hero">
        <div class="hero__text">
            <div class="underline">
                <span>Fit out your flat<br />with rented furniture</span>
            </div>
        </div>
    </div>
    <!-- search bar -->
    <form ng-submit="search()">
        <div class="search">
            <div class="container">
                <input class="search__input" type="text" placeholder="Search" ng-model="searchTerm" value="{{ searchterm }}" ng-keyup="search()">
            </div>
        </div>
    </form>
    <div class="list container">
        <h4 ng-if="searchTerm==''" class="list__header">Top Sellers</h4>
        <h4 ng-if="searchTerm!=''"><small>Showing {{ searchResults.length }} item(s) <span ng-if="searchTerm"> for {{searchTerm}}</span></small></h4>
        <div class="list__products row">
            <div ng-if="searchTerm==''">
                <div ng-repeat="product in products" class="product col-sm-4">
                    <div class="product__inner" ui-sref="product({ id: product.pid })">
                        <div class="image" style="background-image: url('uploads/{{ product.image }}');"></div>
                        <h4 class="name">{{ product.name }}</h4>
                        <h4>Rent from {{ product.rentalpricepd | currency }}</h4>
                    </div>
                </div>
            </div>
            <div ng-if="searchTerm!=''">
            <div ng-repeat="product in searchResults" class="product col-sm-4">
                    <div class="product__inner" ui-sref="product({ id: product.pid })">
                        <div class="image" style="background-image: url('uploads/{{ product.image }}');"></div>
                        <h4 class="name">{{ product.name }}</h4>
                        <h4>Rent from {{ product.rentalpricepd | currency }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
