<div class="profile">
	<h1 class="intro">Hi there {{ name }}</h1>
	<div class="container-fluid tabs">
		<div ng-click="changeState('profile.info')" class="col-xs-3 tab" ng-class="{ 'selected' : state === 'profile.info' }">Basic info</div>
		<div ng-click="changeState('profile.orders')" class="col-xs-3 tab" ng-class="{ 'selected' : state === 'profile.orders' }">Rented</div>
		<div ng-click="changeState('profile.history')" class="col-xs-3 tab" ng-class="{ 'selected' : state === 'profile.history' }">History</div>
		<div ng-click="changeState('profile.rented')" class="col-xs-3 tab" ng-class="{ 'selected' : state === 'profile.rented' }">Listed items</div>
	</div>
	<div ui-view="profile"></div>
</div>
