<div class="listproduct">
    <div class="container">
        <div class="row">

           <div class="col-md-9 clearfix" id="customer-account">

                <h3 class="lead">Enter your listing details.</h3>
                <p class="text-muted"></p>
                <div flow-init flow-file-success="flowFileSuccess($file, $message, $flow )" flow-files-submitted="$flow.upload()">
                <form name="productForm" ng-submit="submitForm($flow)">
                


                    <!-- Image -->
                <div class="col-sm-6">
                    <div class="ratio1_1" id="prod-image-preview" flow-drag-enter="style={border:'4px solid green'}" flow-drag-leave="style={}" ng-style="style">

                        <img class="col-sm-12" flow-img="$flow.files[0]" />
                    </div>
                </div>
                <div class="box col-sm-6">

                    <div class="heading">
                        <h3 class="text-uppercase">General Information</h3>
                    </div>
                    
                    
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" required ng-model="product.name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <md-input-container>
                                    <label>Description</label>
                                    <textarea name="description" required class="description form-control" ng-model="product.description"></textarea>
                                </md-input-container>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Category</label>
                                <select class="form-control" required ng-model="product.categoryid" >
                                    <option ng-repeat="category in categories" value="{{category.cid}}">{{category.name}}</option>
                                </select>
                                <!-- select ng-options="key as value for (key , value) in categories" ng-model="mainCategory"></select> -->
                            </div>
                        </div>
                    </div>

                        <div class="text-center">
                            <span  class="btn btn-template-main" flow-btn>
                                <i class="fa fa-upload"></i>
                                Upload Image
                            </span>
                            <label ng-show="error" style="color:red">Must have uploaded an image!</label>
                            <!-- </button> -->
                            
                        </div>
                    
                </div>
                
                <!-- /.box -->


                <div class="box clearfix">
                    <div class="heading">
                        <h3 class="text-uppercase">Product Specifics</h3>
                    </div>
                        
                        <!-- /.row -->

                        <div class="row">
                            <div class="col-sm-6">
                                <!-- <div class="form-group">
                                    <label>Quantity</label>
                                   <input type="number" ng-model="product.quantity" class="form-control" min="1">
                                </div> -->
                                <div class="form-group">
                                    <label>Rental Price (per day)</label>
                                    <input type="number" required ng-model="product.rentalpricepd" class="form-control" min="1">
                               </div>
                            </div>
                                <div class="col-sm-6 col-md-3">
                                    <div class="form-group">
                                        <label>Min Rent Days</label>
                                        <input type="number" required ng-model="product.minrentdays" ng-change="checkRentDays()" class="form-control" min="1">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <div class="form-group">
                                        <label>Max Rent Days</label>
                                        <input type="number" required ng-model="product.maxrentdays" ng-change="checkRentDays()" class="form-control" min="product.minrentdays">
                                    </div>
                                </div>
                        </div>

                        <!-- /.row -->
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Allow purchasing?</label>
                                    <input type="checkbox" style="display:block;" ng-model="canBuy" >
                                </div>        
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3" ng-show="canBuy">
                                <div class="form-group">
                                    <label>Price</label>
                                    <input type="number" ng-required="canBuy" class="form-control" ng-model="product.purchaseprice" min="0">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group" ng-show="canBuy">
                                    <label>Minimum days before purchase</label>
                                    <input style="width:40%" type="number" ng-required="canBuy" class="form-control" ng-model="product.mindaystobuy" ng-change="checkRentDays()">
                                </div>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label >Quantity</label>
                                    <input type="number" required class="form-control" ng-model="product.quantity" min="0">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label >Weight (kg)</label>
                                    <input type="number" required class="form-control" ng-model="product.weightkg" min="0">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label >Width</label>
                                    <input type="number" required class="form-control" ng-model="product.width" min="0">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label >Length</label>  
                                    <input type="number" required class="form-control" ng-model="product.length" min="0">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>Height</label>
                                    <input type="number" required class="form-control" ng-model="product.height" min="0">
                                </div>
                            </div>
                            <div class="col-sm-12 text-center">
                                <button class="btn btn-template-main" type="submit"><i class="fa fa-save"></i> Confirm</button>
                            </div>
                        </div>
                </div>
                </form>
                </div>
            </div>

        </div>

    </div>


</div>