<div class="listproduct">
    <div class="container">
        <div class="row">

           <div class="col-md-9 clearfix" id="customer-account">

                <h3 class="lead">Enter your listing details.</h3>
                <p class="text-muted"></p>
                <div flow-init flow-file-success="flowFileSuccess($file, $message, $flow )" flow-files-submitted="$flow.upload()">
                <form name="productForm">
                


                    <!-- Image -->
                <div class="col-sm-6">
                    <div class="ratio1_1" id="prod-image-preview" flow-drag-enter="style={border:'4px solid green'}" flow-drag-leave="style={}" ng-style="style">

                        <img class="col-sm-12" flow-img="$flow.files[0]" />
                    </div>
                </div>
                <div class="box col-sm-6">

                    <div class="heading">
                        <h3 class="text-uppercase">General Information</h3>
                    </div>
                    
                    
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" ng-required="true" ng-model="product.name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <md-input-container>
                                    <label>Description</label>
                                        <textarea name="description" ng-required="true" class="form-control" ng-model="product.description"></textarea>
                                        <!-- <div ng-messages="productForm.description.$error">
                                          <div ng-message="required">Required!</div>
                                        </div> -->
                                </md-input-container>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="state">Category</label>
                                <select class="form-control" ng-required="true" ng-model="mainCategory" >
                                    <option ng-repeat="category in categories" value="{{category.cid}}">{{category.name}}</option>
                                </select>
                                <!-- select ng-options="key as value for (key , value) in categories" ng-model="mainCategory"></select> -->
                            </div>
                        </div>
                    </div>

                        <div class="text-center">
                            <label for="password_1">Image</label>
                            <input type="file" name="pimage" flow-btn class="btn form-control" placeholder="&#xf093;" >
                            <!-- </button> -->
                            
                        </div>
                    
                </div>
                
                <!-- /.box -->


                <div class="box clearfix">
                    <div class="heading">
                        <h3 class="text-uppercase">Product Specifics</h3>
                    </div>

                    <form>
                        
                        <!-- /.row -->

                        <div class="row">
                            <div class="col-sm-6">
                                <!-- <div class="form-group">
                                    <label>Quantity</label>
                                   <input type="number" ng-model="product.quantity" class="form-control" min="1">
                                </div> -->
                                <div class="form-group">
                                    <label>Rental Price (per day)</label>
                                    <input type="number" ng-model="product.rentalpricepd" class="form-control" min="1">
                               </div>
                            </div>
                                <div class="col-sm-6 col-md-3">
                                    <div class="form-group">
                                        <label for="street">Min Rent Days</label>
                                        <input type="number" ng-model="product.minrentdays" ng-change="checkRentDays()" class="form-control" min="1">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <div class="form-group">
                                        <label for="street">Max Rent Days</label>
                                        <input type="number" ng-model="product.maxrentdays" ng-change="checkRentDays()" class="form-control" min="product.minrentdays">
                                    </div>
                                </div>
                        </div>

                        <!-- /.row -->
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="firstname">Allow purchasing?</label>
                                    <input type="checkbox" style="display:block;" ng-model="canBuy" >
                                </div>        
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3" ng-show="canBuy">
                                <div class="form-group">
                                    <label for="firstname">Price</label>
                                    <input type="text" class="form-control" ng-model="product.purchaseprice" >
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group" ng-show="canBuy">
                                    <label for="firstname">Minimum days before purchase</label>
                                    <input style="width:40%" type="number" class="form-control" ng-model="product.mindaystobuy" ng-change="checkRentDays()">
                                </div>
                            </div>
                            
                        </div>

                        <div class="row">
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label for="state">Weight (kg)</label>
                                    <input type="number" class="form-control" ng-model="product.weightkg" min="0">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label for="zip">Width</label>
                                    <input type="number" class="form-control" ng-model="product.width" min="0">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label for="zip">Length</label>
                                    <input type="number" class="form-control" ng-model="product.length" min="0">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label for="zip">Height</label>
                                    <input type="number" class="form-control" ng-model="product.height" min="0">
                                </div>
                            </div>
                            <div class="col-sm-12 text-center">
                                <button class="btn btn-template-main" ng-click="submitForm($flow)"><i class="fa fa-save"></i> Confirm</button>

                            </div>

                        </div>

                    </form>

                </div>
                </form>
                </div>
            </div>

        </div>

    </div>


</div>