<html ng-app="swen303">

<head>
    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="/<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="/<%= file %>"></script><% }); %>

    <base href="/">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body ng-controller="MainController">
<div class="navbar">
    <div class="top-bar">
        <div class="signin">
            <span ng-hide="user" ui-sref="register">Signin/Register</span>
            <span ng-show="user">Hi {{ user.firstname }} - <a href="/profile">View your account</a> - <a ng-click="signout()">Logout</a></span>
        </div>
        <i class="material-icons cart" ui-sref="cart">shopping_cart</i>
    </div>
    <div class="bottom-bar">
        <div class="table-cell">
            <img src="assets/img/logo2.png" ui-sref="home">
        </div>
        <div class="table-cell text-right">
            <span ui-sref="listproduct" class="btn btn-template-main">List product</span>
            <span class="dropdown">
                <a class="dropdown-toggle  btn btn-template-main" data-toggle="dropdown" role="button">Categories</a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li ng-repeat="category in categories" class="dropdown-item" ui-sref="browse({cid: category.cid})">{{ category.name }}</li>
                </ul>
            </span>
        </div>
    </div>
</div>

<div ui-view="main"></div>

<div class="notification" ng-repeat="notification in notifications">
    Reminder: {{ notification.product }} is due back soon!
</div>

</body>

</html>
