<html ng-app="swen303">

<head>
    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="/<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="/<%= file %>"></script><% }); %>

    <base href="/">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body ng-controller="MainController">

<div class="navbar">
    <div class="navbar__top">
        <div class="user">
            <span ui-sref="register" ng-hide="user">Signin/Register</span>
            <div ng-show="user">
                <span class="user__welcome">Hi {{ user.firstname }}!</span>
                <span class="user__account" ui-sref="profile.info">View your account</span>
            </div>
        </div>
        <div class="logo">
            <img src="assets/img/logo.png" ui-sref="home">
            <h1><span ui-sref="home">Electronics</span></h1>
        </div><!--
        --><div class="cart" ui-sref="cart">
            <i class="material-icons">shopping_cart</i>
            <div class="cart__right">
                <div class="cart__right--items">{{ cartsize }} items</div>
                <div class="cart__right--price">{{ carttotal | currency }}</div>
            </div>
        </div>
    </div>
    <ul class="nav navbar-nav container">
        <li class="dropdown col-sm-2">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Computers<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li ng-repeat="category in categories['Computers & Tablets']" ui-sref="browse({cid: category.id})"><a href="#">{{ category.name }}</a></li>
            </ul>
        </li>

        <li class="dropdown col-sm-2">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Phones<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li ng-repeat="category in categories['Cellphones & Accessories']" ui-sref="browse({cid: category.id})"><a href="#">{{ category.name }}</a></li>
            </ul>
        </li>

        <li class="dropdown col-sm-2">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Vehicle electronics<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li ng-repeat="category in categories['Vehicle Electronics & GPS']" ui-sref="browse({cid: category.id})"><a href="#">{{ category.name }}</a></li>
            </ul>
        </li>

        <li class="dropdown col-sm-2">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">TVs<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li ng-repeat="category in categories['TV, Audio & Surveillance']" ui-sref="browse({cid: category.id})"><a href="#">{{ category.name }}</a></li>
            </ul>
        </li>

        <li class="dropdown col-sm-2">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Cameras<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li ng-repeat="category in categories['Cameras & Photo']" ui-sref="browse({cid: category.id})"><a href="#">{{ category.name }}</a></li>
            </ul>
        </li>

        <li class="dropdown col-sm-2">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Gaming<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li ng-repeat="category in categories['Video Games & Consoles']" ui-sref="browse({cid: category.id})"><a href="#">{{ category.name }}</a></li>
            </ul>
        </li>
    </ul>
</div>

<div ui-view="main"></div>

<div class="notification" ng-repeat="notification in notifications">
    Reminder: {{ notification.product }} is due back soon!
</div>

</body>

</html>
