<div class="browse container">
    <div class="container">
        <div class="heading text-center"><h1>{{ category.name }}</h1></div>
        <!-- search bar -->
		<form ng-submit="search()">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="searchTerm" placeholder="Search here">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-md btn-template-primary" type="button" id="search-button">Markup Search</button>
                </span>
            </div>
		</form>
        <!-- show items -->
        <div id="content">
            <div class="container">

                <div class="row products" ng-repeat="product in products">

                    <div class="col-md-3 col-sm-4">
                        <div class="product">
                            <div class="image">
                                <a  ui-sref="product({ id: product.pid })">
                                    <img ng-src="assets/img/products/{{ product.image }}" alt="{{product.image}}" class="img-responsive">
                                </a>
                            </div>
                            <!-- /.image -->
                            <div class="text">
                                <h3><a  ui-sref="product({ id: product.pid })">{{ product.name }}</a></h3>
                                <p class="price">{{ product.purchaseprice | currency }}</p>
                                <h4><small>or rent from {{ product.rentalpricepd | currency }}<small></h4>

                            </div>
                            <!-- /.text -->
                            <a href="#">
                                <div class="ribbon sale"  ng-click="addToCart(product)">
                                    <div class="theribbon">Buy Now</div>
                                    <div class="ribbon-background"></div>
                                </div>
                            </a>
                            <!-- /.ribbon -->
                            <a href="#">
                                <div class="ribbon new" ng-click="rent(product)">
                                    <div class="theribbon">Quick Rent</div>
                                    <div class="ribbon-background"></div>
                                </div>
                            </a>
                            <!-- /.ribbon -->
                        </div>
                        <!-- /.product -->
                    </div>
<!-- /.col-md-4 -->
                </div>
                <!-- /.products -->

                <div class="col-sm-12">
                    <div class="pages">
                    </div>
                </div>
                <!-- /.col-sm-12 -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->
    </div>
</div>
