<div class="browse container">
    <div class="container">
        <div class="heading text-center"><a ui-sref="browse({cid: category.id})" style="color: #333;"><h1>{{ category.name }}</h1></a></div>
        
        <!-- search bar -->
        <form ng-submit="search()">
            <div class="search">
                <div class="form-group no-margin">
                    <div class="input-group">
                        <input type="text" type="submit" class="search__input" ng-model="searchTerm" placeholder="Search here" value="{{ searchterm }}" ng-keyup="search()">
                    </div>
                </div>
            </div>
            <h4><small>Showing {{ products.length }} item(s) <span ng-if="searchTerm"> for {{searchTerm}}</span></small></h4>
        </form>
        
        <!-- show items -->
        <div id="content">
            <div class="container">

                <div class="row products" ng-repeat="product in products">

                    <div class="col-md-3 col-sm-4">
                        <div class="product">
                            <div class="image">
                                <a ui-sref="product({ id: product.pid })">
                                    <img ng-src="assets/img/products/{{ product.image }}" alt="{{product.image}}" class="img-responsive">
                                </a>
                            </div>
                            <!-- /.image -->
                            <div class="text">
                                <h3><a  ui-sref="product({ id: product.pid })">{{ product.name }}</a></h3>
                                <p class="price">{{ product.purchaseprice | currency }}</p>
                                <h4><small>or rent from {{ product.rentalpricepd | currency }}<small></h4>

                            </div>
                            <!-- /.text -->
                            <a href="#">
                                <div class="ribbon sale">
                                    <div class="theribbon" ng-click="addToCart(product)">Quick Buy</div>
                                    <div class="ribbon-background"></div>
                                </div>
                            </a>
                            <!-- /.ribbon -->
                            <a href="#">
                                <div class="ribbon new" >
                                    <div class="theribbon" ng-click="rent(product)">Quick Rent</div>
                                    <div class="ribbon-background"></div>
                                </div>
                            </a>
                            <!-- /.ribbon -->
                        </div>
                        <!-- /.product -->
                    </div>
<!-- /.col-md-4 -->
                </div>
                <!-- /.products -->

                <div class="col-sm-12">
                    <div class="pages">
                    </div>
                </div>
                <!-- /.col-sm-12 -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->
    </div>
</div>
