<head>
  <title> {{ product.name }} </title>
  <!-- <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
  </style> -->
</head>

<div class="product">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<img ng-src="uploads/{{ product.image }}" class="img-responsive">
			</div>
			<div class="col-sm-6">
				<div class="heading text-center">
					<h1 ng-bind="product.name"></h1>
				</div>
				<p ng-bind="product.description"></p>
				<h2 ng-if="product.rentalpricepd">{{ product.rentalpricepd | currency }} per day</h2>
				<p> {{ quantity }} out of {{ quantityTotal }} in stock </p>
     
     			
				<form ng-submit="rent()" class="rentform">
					<fieldset class="form-group">
						<label for="quantity">Quantity</label>
						<input type="number" id="quantity" ng-model="product.quantity" class="form-control" min=1 max={{quantity}}>
					</fieldset>
					<fieldset class="form-group">
						<label for="rentdays">Another label</label>
						<input type="number" id="rentdays" ng-model="product.rentdays" class="form-control" min={{product.minrentdays}} max={{product.maxrentdays}}>
					</fieldset>
					<button class="btn btn-default" type="submit" ng-disabled="quantity <= 0"><i class="fa fa-shopping-cart"></i> Rent this product</button>
				</form>

	               
                <blockquote ng-if="product.purchaseprice">
                    <p><em>This product can be rented to buy. This means that you have the option to purchase this item after <strong>{{product.mindaystobuy}}</strong> days. As agreed by the seller.
                    </em>
                    </p>
                    <p><em>Purchase Price: {{ product.purchaseprice | currency }}</em></p>
                </blockquote>
        
                <div class="box social" id="product-social">
                    <h4>Tell your friends</h4>
                    <p>
                        <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.google.com&t=" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                        <a href="https://plus.google.com/share?url=http%3A%2F%2Fwww.google.com" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
                        <a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fwww.google.com&text=:%20http%3A%2F%2Fwww.google.com" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                        <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site http://www.google.com." class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                    </p>
                </div>
			</div>
		</div>
	</div>

	<div class="container">
		<!-- search bar -->
        <form ng-submit="search()">
            <div class="search">
                <div class="form-group no-margin">
                    <div class="input-group">
                        <input id="searchProduct" type="text" class="search__input" ng-model="searchTerm" placeholder="Compare Product" value="{{ searchterm }}">
                        <!--<span class="input-group-btn">
                            <button type="submit" class="btn btn-md btn-template-primary" type="button" id="search-button">Compare</button>
                        </span>-->
                    </div>
                </div>
            </div>
            <h4><small>Found {{ products.length }} item(s) <span ng-if="searchTerm"> for {{searchTerm}}</span></small></h4>
        </form>
        <h3 class="panel-heading"> Specifications </h3>
		<div class="panel">
			<table class="table">
				<thead class="thead">
					<tr>
						<td> Item </td>
						<td> {{ product.name }} </td>
						<td ng-if="compareProduct!=null"> {{ compareProduct.name}} </td>
					</tr>
				</thead>
				<tr ng-if="fullCompareTable!=null" ng-repeat="(key, spec) in fullCompareTable">
					<td> {{ spec.name }} </td>
					<td> {{ spec.value_1 }} </td>
					<td> {{ spec.value_2 }} </td>
				</tr>
				<tr ng-if="fullCompareTable==null" ng-repeat="(key, spec) in specs">
					<td> {{ spec.name }} </td>
					<td> {{ spec.value }} </td>
				</tr>

			</table>
		</div>
		</div>
	</div>
	
</div>


<!-->
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators --><!--
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
				<li data-target="#myCarousel" data-slide-to="3"></li>
			</ol>

			<!-- Wrapper for slides --><!--
			<div class="carousel-inner" role="listbox">
				<div class="item active"> -->
					<!-- <div class="panel">
						<table class="table">
							<thead>
								<tr>
									<td> Item </td>
									<td> {{ product.name }} </td>
									<td>  TEST PRODUCT </td>
								</tr>
							</thead>
							<tr ng-repeat="(key, spec) in fullCompareTable">
								<td> {{ spec.name }} </td>
								<td> {{ spec.value_1 }} </td>
								<td> {{ spec.value_2 }} </td>
							</tr>
						</table>
					</div> -->
				<!-- </div>

				<div class="item">
					<div>TEST_2</div>
				</div>

				<div class="item">
					<div>TEST_3</div>
				</div>

				<div class="item">
					<div>TEST_4</div>
				</div>
			</div>

			<!-- Left and right controls --><!--
			<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a> -->